<div class="modal-header no-border" >

    <h3 class="modal-title text-center"> <i class=" fa fa-facebook"></i>
    Cuenta de Facebook <p>

   </p></h3>
    <!--  <h5 ><p>
    {{item.primerNombre}} {{item.segundoNombre}} {{item.primerApellido}} {{item.segundoApellido}}</p></h5>
      <h5 ><p>
    <strong>Identificación: </strong>{{item.nacionalidad}}-{{item.cedula}} </p></h5> -->
</div>
<div class="modal-body no-border" >
  <div class="row">

 
    <div class="col-sm-8 " >
      <div class="no-border">
        <!-- <div class="panel-heading font-bold">Controls</div> -->
        <div class="panel-body">
          <div class="form-horizontal">
              <div class="col-sm-4">
                <div class="form-control-static">
                  <input type="text" name="facebook" ng-model="item.cuentaF">
                </div>
              </div>
          </div>
        </div>
      </div>
      
    </div>



<div class="modal-footer  no-border">                  
    <!-- <button class="btn btn-default" ng-click="cancel()">Cancelar</button> -->



 <button class="btn btn-rounded btn-lg btn-icon btn-default2" style="
 vertical-align: top;
 box-shadow:5px 5px 10px rgba(99, 210, 219, 0.5);" ng-click="okFacebook(item)"><i class=" icon-check fa-2x"></i></button>
    <!-- <button class="btn btn-primary" ng-click="okAprobacion(item)"></button> -->
</div>